<style>
    body {
        background-image: url(assets/images/bg04.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
</style>

<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="activationBadCard">
        <div class="iconContainer">
            <i class="fa fa-times-circle"></i>
        </div>

        <div class="activationBadCardHeader">
            <h4>Something went wrong!</h4>
        </div>

        <div class="activationBadCardBody">
            <p>Something went wrong and we couldn't complete your request. Whatever happened, it was probabbly our fault. Please try again.</p>
        </div>
    </div>
</body>