
Backend/web-rest/.idea/compiler.xml
Backend/web-rest/.idea/encodings.xml
Backend/web-rest/.idea/libraries/Maven__antlr_antlr_2_7_7.xml
Backend/web-rest/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_9_10.xml
Backend/web-rest/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_9_10.xml
Backend/web-rest/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_9_10_1.xml
Backend/web-rest/.idea/libraries/Maven__com_fasterxml_jackson_jaxrs_jackson_jaxrs_base_2_9_10.xml
Backend/web-rest/.idea/libraries/Maven__com_fasterxml_jackson_jaxrs_jackson_jaxrs_json_provider_2_9_10.xml
Backend/web-rest/.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_jaxb_annotations_2_9_10.xml
Backend/web-rest/.idea/libraries/Maven__com_sun_istack_istack_commons_runtime_3_0_7.xml
Backend/web-rest/.idea/libraries/Maven__com_sun_xml_fastinfoset_FastInfoset_1_2_15.xml
Backend/web-rest/.idea/libraries/Maven__io_thorntail_bootstrap_2_6_0_Final.xml
Backend/web-rest/.idea/libraries/Maven__io_thorntail_config_api_1_9_0.xml
Backend/web-rest/.idea/libraries/Maven__io_thorntail_config_api_runtime_1_9_0.xml
Backend/web-rest/.idea/libraries/Maven__io_thorntail_connector_2_6_0_Final.xml
Backend/web-rest/.idea/libraries/Maven__io_thorntail_container_2_6_0_Final.xml
Backend/web-rest/.idea/libraries/Maven__io_thorntail_datasources_2_6_0_Final.xml
Backend/web-rest/.idea/libraries/Maven__io_thorntail_ee_2_6_0_Final.xml
Backend/web-rest/.idea/libraries/Maven__io_thorntail_elytron_2_6_0_Final.xml
Backend/web-rest/.idea/libraries/Maven__io_thorntail_hibernate_2_6_0_Final.xml
Backend/web-rest/.idea/libraries/Maven__io_thorntail_infinispan_2_6_0_Final.xml
Backend/web-rest/.idea/libraries/Maven__io_thorntail_io_2_6_0_Final.xml
Backend/web-rest/.idea/libraries/Maven__io_thorntail_jaxrs_2_6_0_Final.xml
Backend/web-rest/.idea/libraries/Maven__io_thorntail_jaxrs_cdi_2_6_0_Final.xml
Backend/web-rest/.idea/libraries/Maven__io_thorntail_jaxrs_jsonp_2_6_0_Final.xml
Backend/web-rest/.idea/libraries/Maven__io_thorntail_jca_2_6_0_Final.xml
Backend/web-rest/.idea/libraries/Maven__io_thorntail_jdk_specific_thorntail_jdk_specific_2.xml
Backend/web-rest/.idea/libraries/Maven__io_thorntail_jmx_2_6_0_Final.xml
Backend/web-rest/.idea/libraries/Maven__io_thorntail_jpa_2_6_0_Final.xml
Backend/web-rest/.idea/libraries/Maven__io_thorntail_logging_2_6_0_Final.xml
Backend/web-rest/.idea/libraries/Maven__io_thorntail_meta_spi_2_6_0_Final.xml
Backend/web-rest/.idea/libraries/Maven__io_thorntail_msc_2_6_0_Final.xml
Backend/web-rest/.idea/libraries/Maven__io_thorntail_naming_2_6_0_Final.xml
Backend/web-rest/.idea/libraries/Maven__io_thorntail_remoting_2_6_0_Final.xml
Backend/web-rest/.idea/libraries/Maven__io_thorntail_request_controller_2_6_0_Final.xml
Backend/web-rest/.idea/libraries/Maven__io_thorntail_security_2_6_0_Final.xml
Backend/web-rest/.idea/libraries/Maven__io_thorntail_spi_2_6_0_Final.xml
Backend/web-rest/.idea/libraries/Maven__io_thorntail_transactions_2_6_0_Final.xml
Backend/web-rest/.idea/libraries/Maven__io_thorntail_undertow_2_6_0_Final.xml
Backend/web-rest/.idea/libraries/Maven__io_undertow_undertow_core_2_0_27_Final.xml
Backend/web-rest/.idea/libraries/Maven__io_undertow_undertow_servlet_2_0_27_Final.xml
Backend/web-rest/.idea/libraries/Maven__jakarta_persistence_jakarta_persistence_api_2_2_3.xml
Backend/web-rest/.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_9_11.xml
Backend/web-rest/.idea/libraries/Maven__org_dom4j_dom4j_2_1_1.xml
Backend/web-rest/.idea/libraries/Maven__org_glassfish_jakarta_el_3_0_2.xml
Backend/web-rest/.idea/libraries/Maven__org_glassfish_jakarta_json_1_1_6.xml
Backend/web-rest/.idea/libraries/Maven__org_glassfish_jaxb_jaxb_runtime_2_3_1.xml
Backend/web-rest/.idea/libraries/Maven__org_glassfish_jaxb_txw2_2_3_1.xml
Backend/web-rest/.idea/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_5_0_4_Final.xml
Backend/web-rest/.idea/libraries/Maven__org_hibernate_hibernate_core_5_3_13_Final.xml
Backend/web-rest/.idea/libraries/Maven__org_hibernate_hibernate_envers_5_3_13_Final.xml
Backend/web-rest/.idea/libraries/Maven__org_infinispan_infinispan_commons_9_4_16_Final.xml
Backend/web-rest/.idea/libraries/Maven__org_infinispan_infinispan_core_9_4_16_Final.xml
Backend/web-rest/.idea/libraries/Maven__org_javassist_javassist_3_23_2_GA.xml
Backend/web-rest/.idea/libraries/Maven__org_jboss_ironjacamar_ironjacamar_jdbc_1_4_17_Final.xml
Backend/web-rest/.idea/libraries/Maven__org_jboss_jandex_2_1_2_Final.xml
Backend/web-rest/.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_4_1_Final.xml
Backend/web-rest/.idea/libraries/Maven__org_jboss_msc_jboss_msc_1_4_11_Final.xml
Backend/web-rest/.idea/libraries/Maven__org_jboss_narayana_jts_narayana_jts_idlj_5_9_8_Final.xml
Backend/web-rest/.idea/libraries/Maven__org_jboss_openjdk_orb_openjdk_orb_8_0_8_Final.xml
Backend/web-rest/.idea/libraries/Maven__org_jboss_shrinkwrap_descriptors_shrinkwrap_descriptors_api_base_2_0_0.xml
Backend/web-rest/.idea/libraries/Maven__org_jboss_shrinkwrap_descriptors_shrinkwrap_descriptors_api_javaee_2_0_0.xml
Backend/web-rest/.idea/libraries/Maven__org_jboss_shrinkwrap_descriptors_shrinkwrap_descriptors_api_jboss_2_0_0.xml
Backend/web-rest/.idea/libraries/Maven__org_jboss_shrinkwrap_descriptors_shrinkwrap_descriptors_impl_base_2_0_0.xml
Backend/web-rest/.idea/libraries/Maven__org_jboss_shrinkwrap_descriptors_shrinkwrap_descriptors_impl_javaee_2_0_0.xml
Backend/web-rest/.idea/libraries/Maven__org_jboss_shrinkwrap_descriptors_shrinkwrap_descriptors_impl_jboss_2_0_0.xml
Backend/web-rest/.idea/libraries/Maven__org_jboss_shrinkwrap_descriptors_shrinkwrap_descriptors_spi_2_0_0.xml
Backend/web-rest/.idea/libraries/Maven__org_jboss_shrinkwrap_shrinkwrap_api_1_2_6.xml
Backend/web-rest/.idea/libraries/Maven__org_jboss_shrinkwrap_shrinkwrap_impl_base_1_2_6.xml
Backend/web-rest/.idea/libraries/Maven__org_jboss_shrinkwrap_shrinkwrap_spi_1_2_6.xml
Backend/web-rest/.idea/libraries/Maven__org_jboss_spec_javax_annotation_jboss_annotations_api_1_3_spec_2_0_1_Final.xml
Backend/web-rest/.idea/libraries/Maven__org_jboss_spec_javax_el_jboss_el_api_3_0_spec_2_0_0_Final.xml
Backend/web-rest/.idea/libraries/Maven__org_jboss_spec_javax_enterprise_concurrent_jboss_concurrency_api_1_0_spec_2_0_0_Final.xml
Backend/web-rest/.idea/libraries/Maven__org_jboss_spec_javax_interceptor_jboss_interceptors_api_1_2_spec_2_0_0_Final.xml
Backend/web-rest/.idea/libraries/Maven__org_jboss_spec_javax_resource_jboss_connector_api_1_7_spec_2_0_0_Final.xml
Backend/web-rest/.idea/libraries/Maven__org_jboss_spec_javax_servlet_jboss_servlet_api_4_0_spec_2_0_0_Final.xml
Backend/web-rest/.idea/libraries/Maven__org_jboss_spec_javax_transaction_jboss_transaction_api_1_3_spec_2_0_0_Final.xml
Backend/web-rest/.idea/libraries/Maven__org_jboss_spec_javax_websocket_jboss_websocket_api_1_1_spec_2_0_0_Final.xml
Backend/web-rest/.idea/libraries/Maven__org_jboss_spec_javax_ws_rs_jboss_jaxrs_api_2_1_spec_2_0_0_Final.xml
Backend/web-rest/.idea/libraries/Maven__org_jboss_threads_jboss_threads_2_3_2_Final.xml
Backend/web-rest/.idea/libraries/Maven__org_jboss_xnio_xnio_api_3_3_8_Final.xml
Backend/web-rest/.idea/libraries/Maven__org_jboss_xnio_xnio_nio_3_3_8_Final.xml
Backend/web-rest/.idea/libraries/Maven__org_jvnet_staxex_stax_ex_1_8.xml
Backend/web-rest/.idea/libraries/Maven__org_ow2_asm_asm_7_1.xml
Backend/web-rest/.idea/libraries/Maven__org_ow2_asm_asm_analysis_7_1.xml
Backend/web-rest/.idea/libraries/Maven__org_ow2_asm_asm_commons_7_1.xml
Backend/web-rest/.idea/libraries/Maven__org_ow2_asm_asm_tree_7_1.xml
Backend/web-rest/.idea/libraries/Maven__org_wildfly_common_wildfly_common_1_5_1_Final.xml
Backend/web-rest/.idea/misc.xml
Backend/web-rest/.idea/modules.xml
Backend/web-rest/.idea/vcs.xml
Backend/web-rest/target/classes/com/example/webrest/rest/HelloWorldEndpoint.class
Backend/web-rest/target/classes/com/example/webrest/rest/RestApplication.class
Backend/web-rest/target/maven-archiver/pom.properties
Backend/web-rest/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Backend/web-rest/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Backend/web-rest/target/web-rest-thorntail.jar
Backend/web-rest/target/web-rest.war
Backend/web-rest/target/web-rest.war.original
Backend/web-rest/target/web-rest/WEB-INF/classes/com/example/webrest/rest/HelloWorldEndpoint.class
Backend/web-rest/target/web-rest/WEB-INF/classes/com/example/webrest/rest/RestApplication.class
Backend/web-rest/target/web-rest/WEB-INF/lib/antlr-2.7.7.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/asm-7.1.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/asm-analysis-7.1.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/asm-commons-7.1.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/asm-tree-7.1.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/bootstrap-2.6.0.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/byte-buddy-1.9.11.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/config-api-1.9.0.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/config-api-runtime-1.9.0.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/connector-2.6.0.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/container-2.6.0.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/datasources-2.6.0.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/dom4j-2.1.1.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/ee-2.6.0.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/elytron-2.6.0.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/FastInfoset-1.2.15.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/hibernate-2.6.0.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/hibernate-commons-annotations-5.0.4.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/hibernate-core-5.3.13.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/hibernate-envers-5.3.13.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/infinispan-2.6.0.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/infinispan-commons-9.4.16.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/infinispan-core-9.4.16.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/io-2.6.0.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/ironjacamar-jdbc-1.4.17.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/istack-commons-runtime-3.0.7.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/jackson-annotations-2.9.10.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/jackson-core-2.9.10.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/jackson-databind-2.9.10.1.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/jackson-jaxrs-base-2.9.10.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/jackson-jaxrs-json-provider-2.9.10.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/jackson-module-jaxb-annotations-2.9.10.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/jakarta.el-3.0.2.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/jakarta.json-1.1.6.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/jakarta.persistence-api-2.2.3.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/jandex-2.1.2.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/javassist-3.23.2-GA.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/jaxb-runtime-2.3.1.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/jaxrs-2.6.0.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/jaxrs-cdi-2.6.0.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/jaxrs-jsonp-2.6.0.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/jboss-annotations-api_1.3_spec-2.0.1.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/jboss-concurrency-api_1.0_spec-2.0.0.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/jboss-connector-api_1.7_spec-2.0.0.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/jboss-el-api_3.0_spec-2.0.0.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/jboss-interceptors-api_1.2_spec-2.0.0.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/jboss-jaxrs-api_2.1_spec-2.0.0.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/jboss-logging-3.4.1.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/jboss-msc-1.4.11.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/jboss-servlet-api_4.0_spec-2.0.0.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/jboss-threads-2.3.2.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/jboss-transaction-api_1.3_spec-2.0.0.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/jboss-websocket-api_1.1_spec-2.0.0.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/jca-2.6.0.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/jmx-2.6.0.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/jpa-2.6.0.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/logging-2.6.0.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/meta-spi-2.6.0.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/msc-2.6.0.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/naming-2.6.0.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/narayana-jts-idlj-5.9.8.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/openjdk-orb-8.0.8.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/remoting-2.6.0.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/request-controller-2.6.0.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/security-2.6.0.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/shrinkwrap-api-1.2.6.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/shrinkwrap-descriptors-api-base-2.0.0.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/shrinkwrap-descriptors-api-javaee-2.0.0.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/shrinkwrap-descriptors-api-jboss-2.0.0.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/shrinkwrap-descriptors-impl-base-2.0.0.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/shrinkwrap-descriptors-impl-javaee-2.0.0.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/shrinkwrap-descriptors-impl-jboss-2.0.0.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/shrinkwrap-descriptors-spi-2.0.0.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/shrinkwrap-impl-base-1.2.6.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/shrinkwrap-spi-1.2.6.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/spi-2.6.0.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/stax-ex-1.8.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/thorntail-jdk-specific-2.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/transactions-2.6.0.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/txw2-2.3.1.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/undertow-2.6.0.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/undertow-core-2.0.27.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/undertow-servlet-2.0.27.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/wildfly-common-1.5.1.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/xnio-api-3.3.8.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/xnio-nio-3.3.8.Final.jar
Backend/web-rest/web-rest.iml
Backend/web-rest/.idea/libraries/Maven__com_google_protobuf_protobuf_java_2_6_0.xml
Backend/web-rest/.idea/libraries/Maven__mysql_mysql_connector_java_8_0_11.xml
Backend/web-rest/.idea/libraries/Maven__commons_beanutils_commons_beanutils_1_9_2.xml
Backend/web-rest/.idea/libraries/Maven__commons_collections_commons_collections_3_2_2.xml
Backend/web-rest/.idea/libraries/Maven__commons_digester_commons_digester_1_8_1.xml
Backend/web-rest/.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
Backend/web-rest/.idea/libraries/Maven__commons_validator_commons_validator_1_5_1.xml
Backend/web-rest/.idea/libraries/Maven__io_thorntail_bean_validation_2_6_0_Final.xml
Backend/web-rest/.idea/libraries/Maven__io_thorntail_cdi_2_6_0_Final.xml
Backend/web-rest/.idea/libraries/Maven__io_thorntail_cdi_config_2_6_0_Final.xml
Backend/web-rest/.idea/libraries/Maven__jakarta_enterprise_jakarta_enterprise_cdi_api_2_0_2.xml
Backend/web-rest/.idea/libraries/Maven__jakarta_inject_jakarta_inject_api_1_0.xml
Backend/web-rest/.idea/libraries/Maven__jakarta_validation_jakarta_validation_api_2_0_2.xml
Backend/web-rest/target/classes/com/example/webrest/rest/database/BaseDatabaseManager.class
Backend/web-rest/target/classes/com/example/webrest/rest/entity/ActivationKey.class
Backend/web-rest/target/classes/com/example/webrest/rest/entity/Token.class
Backend/web-rest/target/classes/com/example/webrest/rest/entity/User.class
Backend/web-rest/target/classes/META-INF/persistence.xml
Backend/web-rest/target/classes/project-defaults.yaml
Backend/web-rest/target/web-rest/WEB-INF/classes/com/example/webrest/rest/configuration/ConfigurationManager.class
Backend/web-rest/target/web-rest/WEB-INF/classes/com/example/webrest/rest/database/BaseDatabaseManager.class
Backend/web-rest/target/web-rest/WEB-INF/classes/com/example/webrest/rest/entity/ActivationKey.class
Backend/web-rest/target/web-rest/WEB-INF/classes/com/example/webrest/rest/entity/Token.class
Backend/web-rest/target/web-rest/WEB-INF/classes/com/example/webrest/rest/entity/User.class
Backend/web-rest/target/web-rest/WEB-INF/classes/META-INF/persistence.xml
Backend/web-rest/target/web-rest/WEB-INF/classes/project-defaults.yaml
Backend/web-rest/target/web-rest/WEB-INF/lib/bean-validation-2.6.0.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/cdi-2.6.0.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/cdi-config-2.6.0.Final.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/commons-beanutils-1.9.2.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/commons-collections-3.2.2.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/commons-digester-1.8.1.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/commons-logging-1.2.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/commons-validator-1.5.1.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/jakarta.enterprise.cdi-api-2.0.2.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/jakarta.inject-api-1.0.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/jakarta.validation-api-2.0.2.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/mysql-connector-java-8.0.11.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/protobuf-java-2.6.0.jar
Backend/web-rest/target/thorntail7710942246477437077-cp.txt
Backend/web-rest/target/web-rest/WEB-INF/classes/com/example/webrest/rest/database/AuthenticationManager.class
Backend/web-rest/target/web-rest/WEB-INF/classes/com/example/webrest/rest/database/UsersManager.class
Backend/web-rest/target/web-rest/WEB-INF/classes/com/example/webrest/rest/dto/UserDTO.class
Backend/web-rest/target/web-rest/WEB-INF/classes/com/example/webrest/rest/pojo/LoginRequest.class
Backend/web-rest/target/web-rest/WEB-INF/classes/com/example/webrest/rest/pojo/RegistrationRequest.class
Backend/web-rest/target/web-rest/WEB-INF/classes/com/example/webrest/rest/pojo/UpdateRequest.class
Backend/web-rest/target/web-rest/WEB-INF/classes/com/example/webrest/rest/resource/AuthenticationResource.class
Backend/web-rest/target/web-rest/WEB-INF/classes/com/example/webrest/rest/resource/UserResource.class
Backend/web-rest/.idea/libraries/Maven__com_sun_mail_javax_mail_1_6_2.xml
Backend/web-rest/.idea/libraries/Maven__javax_activation_activation_1_1.xml
Backend/web-rest/target/classes/com/example/webrest/rest/classes/EmailSender$1.class
Backend/web-rest/target/classes/com/example/webrest/rest/classes/EmailSender.class
Backend/web-rest/target/classes/com/example/webrest/rest/database/AuthenticationManager.class
Backend/web-rest/target/classes/com/example/webrest/rest/pojo/RegistrationRequest.class
Backend/web-rest/target/classes/com/example/webrest/rest/resource/AuthenticationResource.class
Backend/web-rest/target/classes/com/example/webrest/rest/resource/UserResource.class
Backend/web-rest/target/classes/META-INF/web-rest.kotlin_module
Backend/web-rest/target/web-rest/WEB-INF/classes/com/example/webrest/rest/classes/EmailSender$1.class
Backend/web-rest/target/web-rest/WEB-INF/classes/com/example/webrest/rest/classes/EmailSender.class
Backend/web-rest/target/web-rest/WEB-INF/classes/META-INF/web-rest.kotlin_module
Backend/web-rest/target/web-rest/WEB-INF/lib/activation-1.1.jar
Backend/web-rest/target/web-rest/WEB-INF/lib/javax.mail-1.6.2.jar
Backend/web-rest/.idea/libraries/Maven__com_sun_mail_javax_mail_1_6_2.xml
Backend/web-rest/.idea/libraries/Maven__javax_activation_activation_1_1.xml
Backend/web-rest/target/classes/com/example/webrest/rest/database/AuthenticationManager.class
Backend/web-rest/target/classes/com/example/webrest/rest/pojo/RegistrationRequest.class
Backend/web-rest/target/classes/com/example/webrest/rest/resource/AuthenticationResource.class
Backend/web-rest/target/classes/com/example/webrest/rest/resource/UserResource.class
