<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

<div class="regSuccessCard">
    <div class="regSuccessCardHeader">
        <i class="fa fa-envelope envelopeIcon"></i>
        <p>You've got a mail!</p>
    </div>
    <div class="regSuccessCardBody">
        <p class="headerString">Registration successfull!</p>
        <p>Thank you! We have sent you email with the activation link. Please click the link in that message to activate your account.</p>
    </div>
</div>