<style>
    body {
        background-image: url(assets/images/bg04.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
</style>

<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="activationCard">

        <div class="iconContainer">
            <i class="fa fa-check-circle"></i>
        </div>

        <div class="activationCardHeader">
            <h4>Account activated!</h4>
        </div>

        <div class="activationCardBody">
            <p>Congratulations, You have successfully activated your account! Now you can use your account and also can Log In with the following link below.</p>
        </div>

        <div class="activationCardFooter">
            <a routerLink="/login"> Log In </a>
        </div>
    </div>
</body>